#chat3 .form-control {
    border-color: transparent;
    }
    
    #chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
    }


    i.fas:hover {
        color: #007bff; /* Bootstrap primary color */
        transition: color 0.3s ease;
    }
    
    #chat2 .form-control {
        border-color: transparent;
        }
        
        #chat2 .form-control:focus {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
        }
        
        .divider:after,
        .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
        }

        #exampleFormControlInput2 {
            outline: none; /* Remove outline on focus */
            box-shadow: none; /* Remove any default shadows */
        }
        
        #exampleFormControlInput2:focus {
            outline: none; /* Remove outline on focus */
            box-shadow: none; /* Prevent shadow on focus */
        }
        
        .input-group {
            background-color: #f1f2f6; /* WhatsApp-like background */
            border-radius: 30px; /* Rounded group */
        }